
body{
    margin: 0!important;
    font-family: 'Poppins', sans-serif; 
    overflow-x: hidden;
    /* background: url('../images/bgr.png') no-repeat; */
    background-size: cover;
}
.col-4 img{
    width: 300px;
    height: 150px;
    position: relative;
    bottom: 70px;
}
.camon{
    position: relative;
    bottom: 50px;
}
.col-3{
    position: relative;
    left: 60px;
}

.anh123{
    width: 400px;
    position: relative;
    left: 120px;
}
.welcome-img{
    position: relative;
    left: -60px;
}
input, button{
    font-family: 'Poppins', sans-serif;
   
}
section, header{
    padding-bottom: 142px;
}
button:focus, button:active{
    outline: none;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: bold;
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #FEBD00;
    letter-spacing: 1px;
    font-weight: 300;
}
h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1170px;
}
.container h3{
    padding-bottom: 120px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav button {
    display: none;
}
header a img{
    width: 170px;
}
.header-content ul {
   display: flex;
   justify-content: space-between;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.header-content ul li{
    margin: 0 25px;
}
.header-content ul li a{
    text-decoration: none;
    color: #000000;

}
.header-content ul li a:hover{
    opacity: 0.2;
}
.intro-text{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.intro-text h6{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.intro-text .img-content{
    width: 550px;
    height: 680px;
    position: relative;
    left: 80px;
}
.intro-text .img-content img{
    width: 100%;
}
.intro-text input[type="text"] {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    height: 60px;
    width: 350px;
    box-shadow: 10px 0px 10px #F4F5F4;
    padding-left: 30px;
    font-size: 18px;
    color: #B7B7B7;
}

.intro-text button {
    border-radius: 5px;
    outline: none;
    border: none;
    width: 166px;
    height: 60px;
    background-image: linear-gradient(to right, #8cb560, #59882b);
    color: white;
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
    box-shadow: 10px 0 10px #F4F5F4;
    cursor: pointer;
    transition:  0.3s ease;
}
.intro-text button:hover {
    background: #FEBD00;
    opacity: 0.6;
}
.welcome{
    display: grid;
    grid-template-columns: 50% 50%;
   
    letter-spacing: 1px;
    position: relative;
}
.welcome .welcome-img {
    height: 524px;
}
.welcome .welcome-img img{
    height: 100%;
}
.welcome p{
    font-size: 18px;
}
.welcome button {
    height: 70px;
    font-size: 18px;
    border: none;
    width: 220px;
    background-image: linear-gradient(to right, #8cb560, #59882b);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    transition:  0.3s ease;
}
.welcome button:hover {
    background: #FEBD00;
    opacity: 0.6;
   
}
.welcome h4{
    margin-top: 0;
}
section#reason{
    text-align: center;
}
#reason .row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
}

#reason img{
    width: 70px;
    height: 70px;
    margin-top: 20px;
}
#reason .col-3{
    margin-right: 10px;
    background: #F8FBF5;
    height: 348px;
    width: 370px;
}
#reason .col-3:hover{
    background: #ffffff;
    border-bottom: 3px solid #59882B;
    transition: ease cubic-bezier(0.075, 0.82, 0.165, 1);
}
#reason h4 {
    margin: 10px;
}
#reason p{
    padding: 0 32px;
}

#browse{
    text-align: center;
}
#browse .row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#browse ul {
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    color: #979797;
}
#browse ul li {
    padding: 14px 0;
}
#browse ul li:hover {
    color:#FEBD00;
}
#browse img{
    width: 270px;
    height: 240px;
}
#browse h6{
    font-size: 22px;
    margin: 6px;
}
#browse .col-4{
    box-shadow: 10px 10px 10px #fbfbfbfb;
    height: 350px;
    width: 270px;
}
#browse .price1{
    font-size: 22px;
    color:#59882B;
    font-weight: 600;
}
#browse .price2{
    color: #979797;
    font-size: 14px;
    text-decoration: line-through;
}
#browse .browse-btn{
    position: absolute;
    right: 0;
    margin-top: 20px;
   
}
button.btn-pre, button.btn-next {
    border-radius: 25px 0 0 25px;
    background: linear-gradient(to right, #8BB45E, #59882B);
    height: 50px;
    width: 50px;
    color: white;
    font-size: 20px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    transition:  0.3s ease;
}
button.btn-pre:hover, button.btn-next:hover {
    background: white;
    color: #59882b;
    box-shadow: 10px 0 10px #B7B7B7;
    opacity: 0.6;
}
button.btn-next {
    border-radius: 0 25px  25px 0;
}


.list-btn button {
    background: orange;
    border: 1px solid orange;
    color: white;
    cursor: pointer;
    transition:  0.3s ease;
}
.list-btn button:hover {
    opacity: 0.2;
}
.history {
    display: grid;
    grid-template-columns: 50% 50%;
    /* align-items: center; */
    position: relative;
}
.history-img{
    width: 560px;
    height: 480px;
}
#history h4{
    margin-top: 0;
}
.history p{
    letter-spacing: 1px;
}
.history button {
    height: 70px;
    font-size: 18px;
    border: none;
    width: 220px;
    background-image: linear-gradient(to right, #8cb560, #59882b);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    transition:  0.3s ease;
}
.history button:hover {
    background: #FEBD00;
    opacity: 0.6;
}
.test-title{
    text-align: center;
}
#news .row{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
}
#news p {
    font-size: 18px;
}
#news h6{
    margin: 28px 0;
}
#news button {
    background: none;
    border: none;
    color: orange;
    font-size: 16px;
    font-weight: 800;
    padding: 0; 
    cursor: pointer;
    transition:  0.3s ease;
}
#news button:hover {
    opacity: 0.8;
  }
section#testimonials{
    margin-bottom: 200px;
}
#testimonials .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
#testimonials .row .col-5{
    height: 184px;
    width: 30%;
}
#testimonials .card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}
#testimonials .card img{
    height: 60px;
    width: 60px;
    margin-right: 8px;
    object-fit: cover;
}
#testimonials .name{
    font-size: 16px;
    font-weight: bold;
}
#testimonials .job{
    font-size: 14px;
    font-style: italic;
}
#testimonials .bubble{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 342px;
    height: 64px;
    position: relative;
    line-height: 20px;
    border-radius: 5px;
    padding: 24px;
    text-align: justify;
    box-shadow: 0px 2px 30px #dfdcdc;
    display: flex;
    align-items: center;
}
#testimonials .bubble-bottom-left:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.sub{
    text-align: center;
}
.sub input {
    border: none;
    background: none;
    box-shadow: 0px 5px 30px #B7B7B7;
    outline: none;
    width: 520px;
    border-radius: 30px;
    height: 60px;
    font-size: 18px;
    color: #B7B7B7;
    padding-left: 40px;
    position: relative;
}
.sub button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(to right, #8cb560, #59882b);
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 69%;
    transition: ease 0.3s;
    transition:  0.3s ease;
}
.sub button:hover {
    opacity: 0.6;
    background: #FEBD00;
}
footer {
    background: #F8FBF5;
    padding: 100px 0;
}
footer .row{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}
footer img{
    width: 84px;
    height: 40px;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul li {
    padding-bottom: 32px;
}
footer ul li a{
    text-decoration: none;
    color: #000000;
}
footer .list-title{
    font-weight: bold;
    font-size: 24px;
}
footer .list-btn button{
background: orange;
border: 1px solid orange;
color: white;
cursor: pointer;
transition: ease-in 0.2s;
}
footer .list-btn button:hover{
    opacity: 0.2;
}

footer .col-4:first-child{
    display: grid;
    height: 86%;
    width: 90%;
}


 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    header{
        margin-top: 30px;
    }
    .container{
        padding: 0 32px;
    }
    .intro-text{
        display: block;
        text-align: center;
    }
    .btn-get-started {
        display: flex;

    }
    .intro-text button{
        font-size: 14px;
        height: 40px;
        width: 100px;
        transition: ease 0.3s;
    }
    .intro-text button:hover{
        opacity: 0.6;
    }
    .intro-text .img-content{
        height: auto;
    }
    .intro-text input[type="text"] {
        height: 40px;
        width: 200px;
        padding-left: 0;
        font-size: 14px;
    }
    .welcome .welcome-img {
        height: 350px;
    }
    .welcome button {
        bottom: auto;
    }
    #reason .row {
        display: block;
    }
    #browse img {
        width: 200px;
        height: 180px;
    }
    #browse .col-4 {
        width: 200px;
    }
    .history-img {
        width: 400px;
        margin-top: 120px;
    }
    #testimonials .row .col-5 {
        height: 184px;
        width: 100%;
        margin-top: 50px;
        transform: translate(0px, 0px)!important;
    }
    .sub input {
    height: 50px;
    font-size: 12px;
    width: 220px;
    }
    .sub button{
        top: 0;
        left: 71%;
    }
    .nav{
        display: none;
    }
    .intro-text h1{
         font-size: 32px;
    }
    .intro-text .img-content{
        width: 380px;
    }
    .welcome {
        display: block;
    }
    #browse .row {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .history{
        display: block;
    }
    
    .history button{
        bottom: auto;
    } 
    #news .row {
        display:block;
    }
    #testimonials .row{
        display: block;
    }
    footer .row{
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 14px;
    }
    #testimonials .bubble{
        width: 80%;
    }
    #news col-3{
        width: 340px;
    }
    #news img{
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
    .intro-text h1{
        font-size: 46px;
    }
    .intro-text button{
        font-size: 14px;
        width: 130px;
    }
    .intro-text input[type="text"] {
        width: 196px;
        font-size: 14px;
        padding-left: 0;
    }
    .intro-text .img-content {
        width: 450px;
        height: 450px;
    }
    .welcome .welcome-img {
        height: 330px;
    }
    h4 {
        font-size: 20px;
    }
    h3{
        font-size: 30px;
        margin: 20px 0;
    }
    .welcome p {
        font-size: 12px;
    }
    .welcome button{
        font-size: 12px;
        height: 30px;
        width: 120px;
    }
    #reason .col-3 {
        height: 280px;
        width: 250px;
    }
    #reason img {
        width: 50px;
        padding-top: 10px;
    }
    #reason h6{
        margin: 20px 0;
        font-size: 20px;
    }
    #reason p{
        font-size: 14px;
    }
    #browse .col-4 {
        width: 200px;
    }
    #browse img {
        width: 220px;
        height: 200px;
    }
    .history-img {
        width: 400px;
    }
    #testimonials .row {
        justify-content: center;
    }
    #testimonials .row .col-5 {
        height: 184px;
        width: 50%;
        margin-bottom: 40px;
        transition: translate(0,0);
        transform: translate(0px, 0px)!important;
    }
    section#testimonials {
        margin-bottom: 0;
    }
    #news img{
        width: 250px;
    }
    .sub button {
        left: 79%;
    }
    footer .row {
        font-size: 14px;
    }
    .nav {
        display: none;
    }
    header{
        padding-top: 50px;
    }
}

